<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/style.css">
            
    </head>
    <body>
        <div class="main-content">
            <h1><i>{{>header}}</i> </h1>
        <h2><i>{{errorMessage}}</i></h2>

        </div>
        
        <h1>{{>footer}}</h1>
    </body>
</html>